{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Ketelopele Solutions</title>
    <link rel="stylesheet" href="{% static 'css/aboutUs.css' %}">
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
</head>

<body style="background-color: #fff;">

    <!-- Header Section -->
    <header class="header">
        <div class="logo">
            <!-- Make the logo a link to the home page -->
            <a href="{% url 'home' %}">
                <img src="{% static 'images/logo.png' %}" alt="Ketelopele Logo" class="logo-image" />
            </a>
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="{% url 'home' %}" class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">Home</a></li>

                <!-- About Us Dropdown -->
                <li class="dropdown">
                    <a href="{% url 'about' %}" class="dropbtn {% if request.resolver_match.url_name == 'about' %}active{% endif %}">
                        About Us<span class="arrow"></span>
                    </a>
                    <div class="dropdown-content">
                        <a href="{% url 'about' %}#background">Background</a>
                        <a href="{% url 'about' %}#overview">Overview</a>
                        <a href="{% url 'about' %}#staff-management">Staff Management</a>
                    </div>
                </li>

                <!-- Services Dropdown -->
                <li class="dropdown">
                    <a href="{% url 'services' %}" class="dropbtn {% if request.resolver_match.url_name == 'services' %}active{% endif %}">Services</a>
                    <div class="dropdown-content">
                        <a href="{% url 'services' %}#why-choose-us">Why choose us</a>
                    </div>
                </li>

                <!-- Industry Dropdown -->
                <li class="dropdown">
                    <a href="{% url 'industry' %}" class="dropbtn {% if request.resolver_match.url_name == 'industry' %}active{% endif %}">Industries Served</a>
                    <div class="dropdown-content">
                        <a href="{% url 'industry' %}#certifications">Certifications and Affiliations</a>
                        <a href="{% url 'clients' %}">Clients</a>
                    </div>
                </li>

                <!-- Products Dropdown -->
                <li class="dropdown">
                    <a href="{% url 'products' %}" class="dropbtn {% if request.resolver_match.url_name == 'products' %}active{% endif %}">Products</a>
                    <div class="dropdown-content">
                        <a href="{% url 'product_premium' %}">Premium Collection Tools</a>
                        <a href="{% url 'product_wifi' %}">Public WIFI</a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>

    <!-- Background Image Section -->
    <div class="header-content">
        <div class="underline"></div>
        <h1>ABOUT US</h1>
    </div>


    <div class="content-section">
        <h2 id="background">BACKGROUND</h2>
        <p>Ketelepele is a company incorporated in 2014 as a technology solutions and services company. It is a part of the Motse Technologies Group of Companies. Its scope of clientele spans stems from the group affiliation as a vendor and a supplier of technology to a wide spectrum of companies and markets.</p>

        <h2 id="overview">OVERVIEW</h2>
        <p>Ketelopele Solutions specializes in providing comprehensive IT management and support to businesses of all sizes. With a dedicated team of IT professionals and a commitment to delivering high-quality services, we endeavour that your IT infrastructure & dev’s operates efficiently, securely, and reliably.</p>
        <p>At Ketelopele Solutions, we believe in leveraging technology to empower businesses. Our mission is to provide reliable SLA management and support services that enable our clients to focus on their core business activities while we handle their digitalization challenges. With a dedication to excellence and a proactive approach to IT service management, we ensure that our clients achieve their operational goals with confidence and peace of mind.</p>

        <h2 id="staff-management">STAFF & MANAGEMENT</h2>
        <p>Ketelopele Solutions has a competent complement of staff that attends to its vision and mission of providing technological solutions and services.</p>
    </div>
    <img class="team" src="{% static 'images/Team.PNG' %}" alt="Staff hierarchy">
</div>
    {% include 'footer.html' %}

</body>
</html>