{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/clients.css' %}">
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
    <title>Clients</title>
</head>
<body>
    <header>
        {% include 'navigation_bar.html' %}
        <div class="header-content">
            <h1>CLIENTS</h1>
        </div>
    </header>
    <section class="clients">
    <div class="clients-section">
        <p class="clients-description">
            At Ketelopele Solutions, we are proud to work with a diverse range of clients across various industries. Our dedication to quality service is reflected in the trust our clients have placed in us. Here are some of the esteemed organizations we've had the pleasure of partnering with:
        </p>
    <div class="clients-section">
        <div class="client-list">
            <div class="client-item">
                <img src="{% static 'images/KgatoProjectManagementEngineers.jpg' %}" alt="Kgato Project Management Engineers">
                <p>Kgato Project Management Engineers</p>
            </div>
            <div class="client-item">
                <img src="{% static 'images/calourSustainableEnergy.jpg' %}" alt="Calore Sustainable Energy">
                <p>Calore Sustainable Energy</p>
            </div>
            <div class="client-item">
                <img src="{% static 'images/MamelloSecondarySchools.jpg' %}" alt="Mamello Secondary School">
                <p>Mamello Secondary School</p>
            </div>
            <div class="client-item">
                <img src="{% static 'images/PostBankBloemfontein.jpg' %}" alt="Post Bank Bloemfontein">
                <p>Post Bank Bloemfontein</p>
            </div>
            <div class="client-item">
                <img src="{% static 'images/departmentOfSport&culture.jpg' %}" alt="Department of Sports and Culture">
                <p>Department of Sports and Culture</p>
            </div>
            <div class="client-item">
                <img src="{% static 'images/MagistrateCourt&StateAttorneys.jpg' %}" alt="Magistrate Court and State Attorneys">
                <p>Magistrate Court and State Attorneys</p>
            </div>
            <div class="client-item">
                <img src="{% static 'images/LeifoCorporation.jpg' %}" alt="Leifo Corporation">
                <p>Leifo Corporation</p>
            </div>
            <div class="client-item">
                <img src="{% static 'images/Tlholo.jpg' %}" alt="Tlholo Funeral Parlour">
                <p>Tlholo Funeral Parlour</p>
            </div>
            <div class="client-item">
                <img src="{% static 'images/ThusanangFuneralParlour.jpg' %}" alt="Thusanang Funeral Parlour">
                <p>Thusanang Funeral Parlour</p>
            </div>
            <div class="client-item">
                <img src="{% static 'images/GracelandFuneralParlour.jpg' %}" alt="Graceland Funeral Parlour">
                <p>Graceland Funeral Parlour</p>
            </div>
            <div class="client-item">
                <img src="{% static 'images/khula_foundation.jpg' %}" alt="Khula Foundation">
                <p>Khula Foundation</p>
            </div>
            <div class="client-item">
                <img src="{% static 'images/MachaeaPrimarySchool.jpg' %}" alt="Machaea Primary School">
                <p>Machaea Primary School</p>
            </div>
            <div class="client-item">
                <img src="{% static 'images/BoiteloPrimarySchool.jpg' %}" alt="Boitelo Primary School">
                <p>Boitelo Primary School</p>
            </div>
            <div class="client-item">
                <img src="{% static 'images/tshwaneMunicipality.jpg' %}" alt="Tswane Municipality">
                <p>Tswane Municipality</p>
            </div>
            <div class="client-item">
                <img src="{% static 'images/CityOfJoburgMunicipality.jpg' %}" alt="City of Joburg Municipality">
                <p>City of Joburg Municipality</p>
            </div>
            <div class="client-item">
                <img src="{% static 'images/KethaIncorporated.jpg' %}" alt="Ketha Incorporated">
                <p>Ketha Incorporated</p>
            </div>
            <div class="client-item">
                <img src="{% static 'images/NtiliHoldings.jpg' %}" alt="Ntili Holdings">
                <p>Ntili Holdings</p>
            </div>
            <div class="client-item">
                <img src="{% static 'images/DMZConstructions.jpg' %}" alt="DMZ Construction">
                <p>DMZ Construction</p>
            </div>
            <div class="client-item">
                <img src="{% static 'images/SetllhareGroup.jpg' %}" alt="Setllhare Group">
                <p>Setllhare Group</p>
            </div>
            <div class="client-item">
                <img src="{% static 'images/departmentOfEducation.jpg' %}" alt="Department of Education">
                <p>Department of Education</p>
            </div>
            <div class="client-item">
                <img src="{% static 'images/PicknPay.jpg' %}" alt="Pick and Pay">
                <p>Pick and Pay</p>
            </div>
        </div>
    </section>
    {% include 'footer.html' %}

</body>
</html>
